.hidden {
    display: none;
}

.inputs label
{
    color: #666;
    display: block;
    margin-bottom: 0.3em;
}

.inputs input[type="text"], .inputs textarea
{
    color: #444;
    font-size: 0.5cm;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 5px;
    border: solid 1px #aaa;
    width: 300px;
    background-color: #f9f9f9;
    border-radius: 0.5em;
}

.name-form {
    margin-top: 1cm;
    margin-bottom: 1cm;
    text-align: center;
}

.name-form input[type="text"] {
    text-align: center;
}

body {
    font-size: 0.5cm;
    background-color: #eee;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div.wrapper {
    max-width:50em;
    margin:0 auto;
    padding: 0 1em 0 1em;
}

.nav {
    float:right;
    position:relative;
    left:-50%;
}

.nav ul {
    list-style:none;
    position:relative;
    left:50%;
}

.nav li {
    display: block;
    float: left;
    text-transform: uppercase;
    margin-top: 0.3em;
    padding: 0 0.2em 0 0.2em;
}

.nav li>a {
    float: left;
    background: #f9f9f9;
    border-radius: 0.5em;
    border: 0.1em solid black;
    margin-top: -0.3em;
    padding: 0.2em 0.55em 0.2em 0.4em;
    opacity: 0.6;
}

.nav li>a:hover {
    background: #fff;
    -webkit-box-shadow: 0 0 2px 1px #999999;
    box-shadow: 0 0 2px 1px #999999;
    opacity: 1;
}

.nav li>a:focus {
    background: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/*
.nav li>a.prev, .nav li>a.next {
    padding: 0.2em 0.4em 0.2em 0.15em;
}*/
/*
.nav li>a.first, .nav li>a.last {
    padding: 0.2em 0.4em 0.2em 0.3em;
}*/

@media (max-width: 40em) {
    .nav li>a {
        padding: 0.2em 0.4em 0.2em 0.4em;
    }

    .nav li>a span {
        display: none;
    }
}
